{% extends "jinja_template/standard_template.html" %}
{% block title %}About{% endblock %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">About Us</h1>
      <p class="lead">We are a team of developers who are passionate about building great software.</p>
      <hr class="my-4">
      <p>Our mission is to create innovative solutions that solve real-world problems and make people's lives easier.</p>
      <p>Thank you for visiting our website! Here are some suggestions for what you can do next:</p>
      <ul class="list-group">
        <li class="list-group-item">👀<a href='https://github.com/tobiasuruali'>Check out our GitHub page</a> to see what we've been working on.</li>
        <li class="list-group-item">📖<a href='/'>Read our homepage</a> to learn more about our thoughts and ideas.</li>
        <li class="list-group-item">💬Contact us if you have any questions or feedback.</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
