{% extends "jinja_template/standard_template.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4"><strong>Welcome to our Flask App</strong></h1>
      <p class="lead">This app uses advanced machine learning techniques to predict hand-drawn digits.</p>
      <hr class="my-4">
      <p>To get started, you can send a POST request with a JSON body containing the following data:</p>
      <pre><code>{
  "filename": "(your-filename.png/jpg/jpeg)",
  "image": "(Image as Base64 String)"
}</code></pre>
      <p>Send your request to the <code>/image-predict</code> endpoint. Alternatively, you can click the "Upload Image" button to upload an image using your browser.</p>
      <a class="btn btn-primary btn-lg" href="/upload-image" role="button">Upload Image</a>
      <br><br>
      <img src="https://github.com/tobiasuruali/DS_ToolKits_Project/blob/a460a4f29c9f57a3f3d279b5ddea266675e8ba6f/Milestone_Reports/images/flask_cat.jpeg?raw=true" alt="Flask cat" style="width: 50%; height: auto;">
    </div>
  </div>
</div>

{% endblock %}