body {
    background-color: #3379bb;
  }
h1 {
  color: #F3E5F5;
}
  /* text-white navbar-light" style="background-color: #e3f2fd;" */
p {
  color: #F3E5F5;
}
h2 {
  color: #F3E5F5;
}
h3 {
  color: #F3E5F5;
}
ul {
  color: #F3E5F5;
}
label {
  color: #F3E5F5;
}
.list-group-item {
  background-color: #113557;
}
pre {
  color: #bd1368;
  font-weight: bold;
  background-color: #9fd1ff;
}
